name: Build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Install system dependencies
      run: sudo apt-get install libgtk-3-dev
    - name: Build
      run: cargo build --verbose
    - name: Test
      run: cargo test --verbose
